<div class="container">
  <h3 class="text-center title">Les salles les mieux notées de <%= @climbing_center.city.name%></h3>
  <div class="row d-flex justify-content-around">
    <% ClimbingCenter.where("city_id = #{@climbing_center.city_id}").order("average_total_rating DESC NULLS LAST").first(3).each do |center| %>
      <div class="col-lg-3 col-md-4">
        <div class="card card-blog text-align-center">
          <div class="card-header card-header-image" >
            <%= link_to climbing_center_path(center.id) do%>
              <%= image_tag "#{center.image_url}", style: "height:150px; object-fit:cover;" %>
              <div class="primary mx-auto card-title pt-2">
              </div>
            <% end %>
          </div>
          <div class="">
            <%= button_to "#{center.name}", climbing_center_path(center.id), class: "title btn btn-block btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
