<div class="container">
  <div class="row pt-3">
    <div class="col-md-9 my-auto">
      <h2 class="title ">Quelles salles de bloc te correspondent ?</h2>
      <h5 class="description">De plus en plus de salles de bloc ouvrent en France, à notre plus grand plaisir.<br>
         Les offres tarifaires sont nombreuses et il est facile de s'y perdre.<br>
        Avec <span class="font-weight-bold h4">Onlybloc</span>, tu peux comparer toutes les salles de bloc selon tes critières.</h5>
    </div>
    <div class="col-md-3 pt-3">
      <%= image_tag("climbing_guy.svg", style:"max-height:20em")%>
    </div>
  </div>
  <div class="features text-center">
    <div class="row">
      <div class="mx-auto col-lg-4 col-md-6 col-sm-12">
        <div class="info">
          <div class="icon icon-primary">
            <i class="material-icons">location_city</i>
          </div>
          <h4 class="info-title">Ta ville</h4>
          <h5 class="description">Choisi la ville que tu veux et clique sur "rechercher". Tu pourras voir toutes les salles de bloc dans et à proximité de a localisation choisie.</h5>
        </div>
      </div>
      <div class="mx-auto col-lg-4 col-md-6 col-sm-12">
        <div class="info">
          <div class="icon icon-success">
            <i class="material-icons">dynamic_feed</i>
          </div>
          <h4 class="info-title">Tes critères</h4>
          <h5 class="description">Tu peux filtrer les salles selon tes critères. Tu veux voir uniquement les salles avec un abonnement mensuel en tarif réduit en happy hours et ou il y a un bar, un sauna et un hammam ? C'est toi qui décide.</h5>
        </div>
      </div>
      <div class="mx-auto col-lg-4 col-md-6 col-sm-12">
        <div class="info">
          <div class="icon icon-info">
            <i class="material-icons">check_box</i>
          </div>
          <h4 class="info-title">Ta salle</h4>
          <h5 class="description">Tu n'as plus qu'à consulter les informations des salles qui te plaisent, de faire tes affaires et d'aller grimper !</h5>
        </div>
      </div>
    </div>
  </div>
</div>
