<br>
<br>
<br>
<%= image_tag "OB.png", height:70 %>
<div class="text-conter">
  <h3>Bienvenu chez OnlyBloc, <%= @email %>!</h3>
  <p>Vous pouvez confirmer l'email de votre compte via le lien ci-dessous:</p>
  <p><%= link_to 'Comfirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
<br>
<br>
<br>
<p class="text-muted">Team Toulouse: </p>
<p class="text-muted">Nathan CHATEAU, Hadrien MOUSAILLON, Amy MCARTHUR et Xuan WANG </p>
