<br>
<%= image_tag "OB.png", height:70 %>
<br>
<br>
<br>
<br>
<div class="text-center">
  <p>Bonjour <%= @resource.email %>!</p>
  <p>Nous vous contactons pour vous informer que votre mot de passe a été modifié.</p>
</div>
<br>
<br>
<br>
<p class="text-muted">Team Toulouse: </p>
<p class="text-muted">Nathan CHATEAU, Hadrien MOUSAILLON, Amy MCARTHUR et Xuan WANG </p>
