<footer class="footer footer-black sticky-bottom border-dark justify-content-around text-white mx-auto">
  <div class="container">
    <div class="row">
      <div class="mt-2 col-md-4 font-italic font-weight-bold mx-auto ">Only Bloc © 2020 </div>
    </div>
  </div>
</footer>
